@use 'variable.scss' as c;

.block-pisos{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    background-color: #f5f5f5;
    width:100%;
    gap:2rem;
    max-height:44rem;
    box-sizing:border-box;
    padding:3.2rem 2rem;
    margin: 4.10rem auto 0;
    &__principal{
        position:relative;
        flex:8 1 32rem;
        height:38rem;
        overflow:hidden;
        &--img{
            width:100%;
            max-height:100%;
            max-width:100%;
            overflow:hidden;
        }
        &--prev-next{
            position:absolute;
            top:50%;
            width:100%;
            padding: 0 2rem;
            box-sizing:border-box;
            cursor:pointer;
            font-size:2rem;
            color: c.$bg;
            opacity:.8;
            display:flex;
            justify-content: space-between;
        }
        &--selection{
            position:absolute;
            cursor:pointer;
            bottom:2rem;
            left:50%;
            transform:translate(-50%);
            display:flex;
            width:10rem;
            justify-content: space-between;
            .circle-fill{
                width:10px;
                height:10px;
                background-color: c.$bg;
                border-radius:10rem;
            }
            .circle-empty{
                width:8px;
                height:8px;
                border:2px solid c.$bg;
                border-radius:10rem;
            }
        }
    }
    &__gallery{
        display:flex;
        flex-wrap:wrap;
        flex:1 1 12rem;
        gap:1rem;
        height: 30rem;
        cursor:pointer;
        &--img{
            width:100%;
            max-height:12rem;
            max-width:100%;
            overflow:hidden;
            img{
                width:100%;
                object-fit:cover;
                object-position:50% 50%;
            }
        }
    }
}
.container.bg-vantagens{
    padding:0;
}
.bg-vantagens{
    gap:12rem;
    background: c.$gradientBrown;
    width:100%;
    height:18rem;
    color: c.$bg;
    i{
        font-size:3.2rem;
        margin-right:1.2rem;
    }
    li{
        font:c.$ff-dsc-hm;
        letter-spacing: c.$ff-spacing-dsc;
        margin:1rem 0;
        i{
            font-size:2rem;
        }
    }
}

.brands{
    display:flex;
    width:100%;
    height:160px;
    justify-content:space-between;
    flex-wrap:nowrap;
    align-items: center;
    .item-brand{
        position:relative;
        margin: 0 2rem;
        filter: grayscale(1);
        max-width:140px;
        width:100%;
        &--active{
            filter: grayscale(0);
        }
}
}
@media screen and (max-width:767px) {
    .brands{
        display:none;
    }
    .block-pisos{
        max-height:100%;
        &__principal{
            flex: 1 0 100%;
        }
        &__gallery{
            flex: 1 1 100%;
            height:100%;
            gap:.4rem;
            &--img{
                width:32%;
                img{
                    height:100%;
                }
            }
        }
    }
    .bg-vantagens{
        gap:.8rem;
        padding:1.2rem;
    }
}

#linha-durafloor, #linha-eucafloor, #linha-espacofloor, #linha-quickstep, #linha-tarket{
    display:none;
}