@use 'variable.scss' as c;
@use 'reset.scss';
@use 'flexbox.scss';
@use 'header.scss';
@use 'hero.scss';
@use 'forms.scss';
@use 'footer.scss';
@use 'produtos.scss';
@use 'inspire.scss';
@use 'calc.scss';
@use 'collection.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior:smooth;
}
body{
    font-family: c.$ff;
    background: c.$bg;
    overflow-x: hidden;
}

.container{
    width:100%;
    padding:2rem 0;
    max-width:1280px;
    margin: 0 auto;
    .item{
        flex: 1 1 320px;
        margin: 0 2rem;
        img{
            width:100%;
        }
        &__head{
            margin-bottom: 1rem;
            .perfil{
                border-radius:12rem;
                overflow: hidden;
                width:40%;
                img{
                    object-fit: cover;
                }
            }
            h4{
                font: 900 1.6rem/1.4rem c.$ff;
                margin-left:1.6rem;
                color:c.$txtColor;
            }
            
        }
        &__body{
            p{
                font:300 1rem/1.2rem c.$ff;
                color: c.$txtColor;
            }
        }
        &__footer{
            margin: 1.6rem 0 3.2rem;
            .fi-br-star{
                margin-right:1rem;
                color: c.$bgBrown;
                font-size:1.4rem;
            }
        }
        @media screen and (min-width:1024px) {
            h4{
                font-size:2.8rem;
                line-height: 3.2rem;
            }
            .perfil{
                width:32%;
            }
            p{
                font-size:1.4rem;
                line-height: 2rem;
            }
            .fi-br-star{
                font-size:1.8rem;
            }
        }
    }
    .item-wm{
        width:960px;
        img{
            width:100%;
            @media screen and (min-width:767px) {
                &{
                    height:100%;
                    object-fit: cover;
                }
            }
        }
        @media screen and (min-width:1024px) {
            &{
                height:465px;
            }
        }
    }
    
    .txt-block{
        h2{
            background-image:c.$gradientBrown;
            background-clip: text;
            -webkit-background-clip:text;
            color: transparent;
            margin-top:2rem;
        }
        p{
            color:c.$txtColor;
            margin:c.$mg16;
        } 
    }
    &__options{
        display:block;
        padding: 0 2.8rem;
        box-sizing: border-box;
        &--hide{
            button{
                width:100%;
                border:1px solid c.$bgBrown;  
                border-radius:2rem;
                display:block;
                margin:.4rem auto;
                color: c.$bgBrown !important;
                text-align:center;
            }
            
        }
        button{
            width:100%;
            border: 1px solid c.$bgBrown;
            color:c.$bgBrown;
            margin:.8rem;
        }
    }
    &__brand{
        height:200px;
        display:flex;
        justify-content:center;
        flex-wrap:nowrap;
        align-items: center;
        overflow:hidden;
        &--hide{
            display:none;
        }
    }
    &__banner{
        position:relative;
        height:16rem;
        width:100%;
        margin:2rem 0;
        overflow: hidden;

        .block{
            position:relative;
            box-sizing: border-box;
            padding:1.4rem;
            width: 100%;
            z-index:2;
            &__txt{
                box-sizing: border-box;
                color: #fff;
                h3{
                    font: 900 2rem c.$ff;
                    width:24rem;
                }
                p{
                    font: 300 1.2rem c.$ff;
                    margin-top:.4rem;
                    width:20rem;
                }
                button{
                    font:300 1.2rem c.$ff;
                    background-color:c.$bgBrown;
                    border: none;
                    margin-top:1.2rem;
                }
                @media screen and (min-width:1024px){
                    h3{
                        font-size:3.2rem;
                        width:64rem;
                    }
                    p{
                        font-size:1.6rem;
                        width:40rem;
                    }
                }
                @media screen and (min-width:1024px){
                    padding: .4rem 5.6rem;
                }
            }
            img{
                position:relative;
                width:2.8rem;
                margin-bottom:3.2rem;
                margin-right:2rem;
                height:auto;
            }
        }
        img{
            height:20rem;
            width:auto;
            position:absolute;
            top:0;
        }
        @media screen and (min-width:1024px) {
            &{
                height:20rem;
            }
            
            img{
                width:100%;
            }
        }
    }
}
.flex-wrap__evenly p{
    margin-top:2rem;
    color:c.$txtColor;
    letter-spacing: 0px;
    line-height:2.8rem;
    font-size:2.4rem;
    strong{
        font-weight:900;
        color: c.$txtColor;
    }
}
.bg-sec{
    background:c.$gradientWhite;
    padding: 2rem;
    box-sizing:border-box;
}

.bg-brown{
    position:relative;
    img{
        display:block;
        position:relative;
        width: 45%;
        margin: 0 auto -2.8rem;
        z-index:1;
        pointer-events: none;
    }
    .block{
        position:relative;
        padding:3.2rem 3.2rem;
        box-sizing:border-box;
        background:c.$gradientBrown;
        width:100%;
        height:auto;
    }
    .txt-block2{
        padding:3.2rem 3.2rem;
        box-sizing:border-box;
        background:c.$gradientBrown;
        width:100%;
        height:auto;
        h4{
            font: 900 2.4rem c.$ff;
        }
        
        @media screen and (min-width:767px) {
            &{
                position:absolute;
                box-sizing:content-box;
                width:333px;
                height:220px;
                bottom:-150px;
                button{
                    font:c.$ff-dsc-mm;
                }
            }
        }
        @media screen and (min-width:1024px) {
            &{
                position:absolute;
                width:34rem;
                height:220px;
                bottom:-150px;
                left:10rem;
            }
        }
    }
    @media screen and (min-width:1024px){
        img{
            width:28rem;
            position:absolute;
            right:16rem;
            bottom:6rem;
        }
        
        .block{
            width:100%;
            height: 32rem;
            padding-left:8rem;
            padding-top:4rem;
            h2{
                font-size:6.8rem;
                width:52rem;
            }
        }
    }
}
.hide{
    display:none;
}
h2, h3, h4{
    font:c.$ff-h1-sm;
    color:c.$bg;
    text-transform:uppercase;

    @media screen and (min-width:1024px) {
        &{
            font:c.$ff-h1-hm;
        }
    }
}
li{
    font:c.$ff-dsc;
    margin:.8rem 0;
}
p{
    font:c.$ff-dsc;
    color:c.$bg;
    letter-spacing: c.$ff-spacing-dsc;
    @media screen and (min-width:767px){
        &{
            font:c.$ff-dsc-mm;
        }
    }
    @media screen and (min-width:1024px){
        &{
            font:c.$ff-dsc-hm;
        }
    }
}
button{
    border:1px solid c.$bg;
    font:c.$ff-dsc;
    letter-spacing: c.$ff-spacing-dsc;
    padding: .8rem 8rem;
    border-radius: 2rem;
    color:c.$bg;
    margin:2rem auto;
    @media screen and (min-width:767px) {
        &{
            font:c.$ff-dsc-mm;
        }
    }
}
.center{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
a{
    color:c.$txtColor;
    text-decoration:none;
}

@media screen and (min-width:767px) {
    .container{
        &__options{
            &--hide{
                button{ 
                    display:none;
                }
                
            }
        }
    }
}

