$yellow: #F2B11C;
$yellow-hover: #cf9817;
$headerBg: #fff;
$txtColor: #3a3a3a;
$black: #151515;
$red: #d91e1e;
$bg:#fff;
$bgTransparet: rgba(245, 245, 245,95%);
$bgBrown: #93613E;
$btnGreen: linear-gradient(90deg, #c1dfc4, #deecdd);
$btnGreenHover: linear-gradient(120deg,#c1dfc4, #deecdd);
$gradientBrown: linear-gradient(105deg, #93613E, #D2Ac7F);
$gradientWhite: linear-gradient(105deg, #f6f6f6, #f9f4f0);
$ff: "Montserrat", serif;
$ff-dsc: 300 1.4rem $ff;
$ff-dsc-mm: 300 1.6rem/2.4rem $ff;
$ff-dsc-hm: 200 2rem/3.2rem $ff;
$ff-spacing-dsc: .08rem;
$ff-st: 800 2.4rem $ff;
$ff-h1-sm: 900 2.8rem $ff;
$ff-h1-mm: 900 4rem $ff;
$ff-h1-hm: 900 4.4rem $ff;
$transition: all .45s ease-in;

$mg16: 1.6rem 0;
$shadow-box: 2px 2px 6px rgba(10,10,10,15%);