@use 'variable.scss' as c;

.articles{
    display:grid;
    width:100%;
    grid-gap:4rem;
    grid-template-columns: repeat(12, 1fr);
    p{
        color:c.$txtColor;
        margin: 4.8rem 0;
    }
    .column-itens{
        display:grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap:4rem;
        .itens{
            border:1px solid c.$bgBrown;
            box-sizing:border-box;
            border-radius:1rem;
            padding:2rem;
            grid-column:span 2;
            &__titles{
                padding:1.2rem 0;
                grid-gap:1rem;
                display:flex;
                flex-wrap:nowrap;
                img{
                    height:4rem;
                }
                h3{
                    font-size: 1.6rem;
                    background-image:c.$gradientBrown;
                    background-clip:text;
                    -webkit-background-clip:text;
                    color:transparent;
                }
            }            
            img{
                max-height:18rem;
                width:100%;
                border-radius:1rem;
            }
        }
    }    
}
.column-principal{
    grid-column: span 8;
    h2{
        font-size:6.4rem;
        background-image: c.$gradientBrown;
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;
    }
    img{
        width:100%;
        object-fit: cover;
        object-position:50% 50%;
    }
    
}
.column-side{
    grid-column: 9/13;
    li{
        margin-bottom:2rem;
        text-decoration:underline;
        transition:c.$transition;
        &:hover{
            font-weight:600;
            color:c.$bgBrown;
        }
    }
}
@media screen and (max-width:1024px) {
    .column-principal{
        grid-column: span 9;
    }
    .column-side{
        grid-column:10/-1;
    }
}
@media screen and (max-width:767px) {
    .articles{
        grid-template-columns: 1fr 1fr;
        p{
            margin: 2rem 0;
        }
        .column-itens{
            grid-template-columns: repeat(6, 1fr);
            .itens{
                grid-column:2/6;
                h3{
                    font-size:2.4rem
                }
            }
        }
    }
    .column-principal{
        grid-column:1/-1;
        h2{
            font-size:4.4rem;
        }
    }
    .column-side{
        grid-column:1/-1;
        ul{
            display:flex;
            flex-wrap:nowrap;
            width:100%;
            justify-content: space-between;
        }
    }
}